<div class="container my-4 mx-auto">
    <h3>Register Now:</h3>
    @if (errorMessage) {
    <h3 class="alert alert-danger">{{errorMessage}}</h3>

    }
    <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
        <div class="my-3">
            <label for="name">Name:</label>
            <input id="name" class="form-control mt-2" type="text" formControlName="name"
                placeholder="Enter Your Name.">
            @if (registerForm.get('name')?.errors && registerForm.get('name')?.touched) {
            <div class="mt-1 alert alert-danger">
                @if (registerForm.get('name')?.errors?.['required']) {
                <p class="m-0">Name is Required</p>
                }@else if (registerForm.get('name')?.errors?.['minlength']) {
                <p class="m-0">Name min-length is 3.</p>
                }@else if (registerForm.get('name')?.errors?.['maxlength']) {
                <p class="m-0">Name max-length is 20.</p>
                }
            </div>
            }
        </div>
        <div class="my-3">
            <label for="email">Email:</label>
            <input id="email" class="form-control mt-2" type="email" formControlName="email"
                placeholder="Enter Your Email.">
            @if (registerForm.get('email')?.errors && registerForm.get('email')?.touched) {
            <div class="mt-1 alert alert-danger">
                @if (registerForm.get('email')?.errors?.['required']) {
                <p class="m-0">Email is Required</p>
                }@else if (registerForm.get('email')?.errors?.['email']) {
                <p class="m-0">Email is Not-valid.</p>
                }
            </div>
            }
        </div>
        <div class="my-3">
            <label for="phone">Phone:</label>
            <input id="phone" class="form-control mt-2" formControlName="phone" placeholder="Enter Your Phone.">
            @if (registerForm.get('phone')?.errors && registerForm.get('phone')?.touched) {
            <div class="mt-1 alert alert-danger">
                @if (registerForm.get('phone')?.errors?.['required']) {
                <p class="m-0">Phone is Required</p>
                }@else if (registerForm.get('phone')?.errors?.['pattern']) {
                <p class="m-0">Phone is Not-valid.</p>
                }
            </div>
            }
        </div>
        <div class="my-3">
            <label for="password">Password:</label>
            <input id="password" class="form-control mt-2" type="password" formControlName="password"
                placeholder="Enter Your Password.">
            @if (registerForm.get('password')?.errors && registerForm.get('password')?.touched) {
            <div class="mt-1 alert alert-danger">
                @if (registerForm.get('password')?.errors?.['required']) {
                <p class="m-0">Password is Required</p>
                }@else if (registerForm.get('password')?.errors?.['pattern']) {
                <p class="m-0">Password is Not-valid.</p>
                <p class="m-0">Password must be minimum 8 characters, at least one uppercase letter, one lowercase
                    letter and one number</p>
                }
            </div>
            }
        </div>
        <div class="my-3">
            <label for="re-password">Re-Pssword:</label>
            <input id="re-password" class="form-control mt-2" type="password" formControlName="rePassword"
                placeholder="Re-enter Your Password.">
            @if (registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched) {
            <div class="mt-1 alert alert-danger">
                @if (registerForm.get('rePassword')?.errors?.['required']) {
                <p class="m-0">Re-password is Required</p>
                }@else if (registerForm.get('rePassword')?.errors?.['pattern']) {
                <p class="m-0">Re-password is Not-valid.</p>
                <p class="m-0">Re-password must be minimum 8 characters, at least one uppercase letter, one lowercase
                    letter and one number</p>
                }
            </div>
            }
            @if (registerForm.errors?.['passwordMatched'] && registerForm.get('rePassword')?.touched) {
            <div class="mt-1 alert alert-danger">
                <p class="m-0">Re-password not match woth password.</p>
            </div>
            }
        </div>
        <button [disabled]="registerForm.invalid" class="btn btn-main text-white d-block mx-auto" type="submit">Register
            @if (isLoading) {<i class="fa-solid fa-spinner fa-spin"></i>}</button>
    </form>
</div>