<div class="container my-4">
    <h3>Forget Password</h3>
    @if (!(showCodeForm|| showResetPasswordForm)) {
    <form [formGroup]="emailForm" (ngSubmit)="verifyEmail()">
        <div class="mb-3">
            <label for="email1" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email1" formControlName="email">
            @if (emailForm.get('email')?.errors && emailForm.get('email')?.touched) {
            <div class="mt-1 alert alert-danger">
                @if (emailForm.get('email')?.errors?.['required']) {
                <p class="m-0">Email is Required</p>
                }@else if (emailForm.get('email')?.errors?.['email']) {
                <p class="m-0">Email is Not-valid.</p>
                }
            </div>
            }
        </div>
        <button [disabled]="emailForm.invalid" type="submit" class="btn btn-main text-white d-block ms-auto">Submit
            @if (isLoading) {<i class="fa-solid fa-spinner fa-spin"></i>}</button>
    </form>
    }

    @if (showCodeForm) {
    <form [formGroup]="codeForm" (ngSubmit)="checkCode()">
        <div class="mb-3">
            <label for="code" class="form-label">Code:</label>
            <input type="text" class="form-control" id="code" formControlName="resetCode">
            @if (codeForm.get('resetCode')?.errors && codeForm.get('resetCode')?.touched) {
            <div class="mt-1 alert alert-danger">
                @if (codeForm.get('resetCode')?.errors?.['required']) {
                <p class="m-0">Code is Required</p>
                }
            </div>
            }
        </div>
        <button [disabled]="codeForm.invalid" type="submit" class="btn btn-main text-white d-block ms-auto">Submit
            @if (isLoading) {<i class="fa-solid fa-spinner fa-spin"></i>}</button>
    </form>
    }

    @if (showResetPasswordForm) {
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <div class="mb-3">
            <label for="email1" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email1" formControlName="email">
            @if (emailForm.get('email')?.errors && emailForm.get('email')?.touched) {
            <div class="mt-1 alert alert-danger">
                @if (emailForm.get('email')?.errors?.['required']) {
                <p class="m-0">Email is Required</p>
                }@else if (emailForm.get('email')?.errors?.['email']) {
                <p class="m-0">Email is Not-valid.</p>
                }
            </div>
            }
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">New Password:</label>
            <input type="password" class="form-control" id="password" formControlName="newPassword">
            @if (resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched) {
            <div class="mt-1 alert alert-danger">
                @if (resetPasswordForm.get('newPassword')?.errors?.['required']) {
                <p class="m-0">Password is Required</p>
                }@else if (resetPasswordForm.get('newPassword')?.errors?.['pattern']) {
                <p class="m-0">Password is Not-valid.</p>
                <p class="m-0">Password must be minimum 8 characters, at least one uppercase letter, one lowercase
                    letter and one number</p>
                }
            </div>
            }
        </div>
        <button [disabled]="resetPasswordForm.invalid" type="submit"
            class="btn btn-main text-white d-block ms-auto">Reset Password
            @if (isLoading) {<i class="fa-solid fa-spinner fa-spin"></i>}</button>
    </form>
    }
</div>