<div class="container my-5">
    <div class="row">
        @if (product) {
        <div class="col-md-4">
            <owl-carousel-o [options]="customOptions">
                @for (image of product.images; track $index) {
                <ng-template carouselSlide>
                    <img [src]="image" class="w-100">
                </ng-template>
                }
            </owl-carousel-o>
        </div>
        <div class="col-md-8">
            <h4 class="card-text">{{product.title}}</h4>
            <p class="card-title text-main">{{product.category.name}}</p>
            <p class="card-text">{{product.description.split(' ').slice(0,9).join(' ')}}</p>
            <p class="card-text">{{product.brand.name}}</p>
            <p class="card-text">{{product.price}}EGP</p>
            <p class="card-text">{{product.ratingsAverage}}</p>
            <p class="card-text">Quantity:{{product.quantity}}</p>
            <p class="card-text">Sold:{{product.sold}}</p>
            <p class="card-text">{{product.slug}}</p>
        </div>
        }
    </div>
</div>